*{
	margin: 0;
}
h5{
	color: red;
	margin: 5;
}

.board{
	display: flex;
	flex-direction: column;
	margin:2px;
}

div[class*="tile-"]{
	display: flex;
	flex-direction: column;
	border: 1px solid black;
	text-align: center;
}

.flex-top{
	display: flex;
	order: 0;
}

.flex-top div {
	transform: rotateZ(180deg);
}

.flex-top div, .flex-bottom div {
	width: 9%;
	height: 160px;
}

.flex-top h5{
	color: blue;
}

.mid-section {
	display: inline-flex;
	justify-content: space-between;
	order: 1;
}

.flex-left{
	display: flex;
	flex-direction: column-reverse;
}

.center{
	flex-grow: 3;
	border: 2px solid red;
}

.flex-right{
	display: flex;
	flex-direction: column;
}

.flex-left div, .flex-right div{
	width: 160px;
	height: 106px;
	writing-mode: vertical-rl;
}

.flex-left div{
	writing-mode: vertical-rl;
}

.flex-right div{
	writing-mode: vertical-rl;
	transform: rotateZ(180deg);
}

.flex-right h5{
	color: green;
}

.flex-bottom{
	display: inline-flex;
	flex-direction: row-reverse;
	order: 2;
}

.flex-bottom h5{
	color: purple;
}

.tile-1, .tile-11, .tile-21, .tile-31{
	min-width: 160px !important;
}